.wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 1.2rem;
}

@media screen and (max-width: 768px) {
	.wrapper {
		flex-direction: column;
		align-items: center;
		padding-bottom: 3rem;
	}
}
