.wrapper {
	background-color: #aeb5bf;
	border-radius: 10px;
	padding: 0 0.8rem 1rem;
	opacity: 0.8;
	margin: 0.5rem;
	width: fit-content;
	box-shadow: 3px 5px 6px #ccc;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.day {
	font-size: 1.2rem;
}

.icon {
	width: 80px;
}

.desc {
	text-transform: capitalize;
	padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
	.wrapper {
		width: 60%;
	}
}
