.wrapper {
	background-color: #6c757d;
	padding: 10px;
	display: flex;
	justify-content: center;
}

.label {
	color: #fff;
	padding-right: 10px;
}

.input {
	border-radius: 25px;
	border: 1px solid black;
	margin-right: 10px;
	width: 200px;
	padding-left: 10px;
}

.btn {
	background: #fff;
	border: 1px solid black;
	border-radius: 25px;
}

.btn:hover,
.btn:focus {
	background: #82a3c1;
}
